.movie-categories {
    position: relative;
    // display: flex;
    // flex-direction: column;
    width: 100%;
    padding-bottom: 2%;
    // text-shadow: 3px;
}

.movie-categories .movie-categories-videos {
    // display: block;
    // position: relative;
    margin: 0;
    padding: 0 4%;
    padding-bottom: 4%;
    // touch-action: pan-y;
    z-index: 2;
}

.movie-categories div h1 {
    // display: block;
    font-size: 1.5em;
    font-weight:bold;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

/* .movie-categories div h1 p {
    font-size: 3vh;
} */

.movie-row {
    display: flex;
    // position: relative;
}

.movie-container {
    display: inline-block;
    // position: relative;
    justify-content: space-evenly;
    width: 16.4%;
    cursor: pointer;
    transition: .35s ease-in;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    overflow: hidden;
    
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // text-shadow: black 0px 1px 0px;

}

.movie-container:nth-of-type(6n+1) {
    border: none;
    border-right: 2px solid transparent;
}

.movie-container:nth-of-type(6n + 6) {
    border: none;
    border-left: 2px solid transparent;
}

.movie-container:hover {
    transform: scale(1.8);
    // flex-grow: 1.8;
    transition-delay: .2s;
    transition: .5s ease-out;
    // position: relative;
    // display: inline-block;
}

// .movie-categories-videos:first-child .movie-container:hover {
    
.movie-container:nth-of-type(6n+6):hover {
    transition: .5s ease;
    /* -moz-transform: scale(1.8);
    -webkit-transform: scale(1.8); */
    transform: scale(1.8);
    transform-origin: right;
    transition-delay: .2s;
    // position: relative;

    // display: inline-block;
}
    
.movie-container:nth-of-type(6n+1):hover {
    /* transform: scale(1.8); */
    transition: .5s ease;
    /* -moz-transform: scale(1.8); */
    /* -webkit-transform: scale(1.8); */
    transform: scale(1.8);
    transform-origin: left;
    transition-delay: .2s;
    // position: relative;

    // display: inline-block;
}

.movie-info-container {
    opacity: 0;
}

.movie-container:hover .movie-info-container {
    opacity: 1;
    transition: .5s ease-in-out;
}

.movie-container a {
    width: 100px;
}
/* .movie-box-art {
    width: 100%;
    height: 100%;
} */

.movie-image {
    max-width: 100%;
    max-height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

/* .movie-image:hover {
    transform: scale(1.8);
    transition: .5s ease;
} */

.movie-info {
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: 90%;
    align-items: left;
    font-weight: bolder;
}


.movie-genre-horizontal-list {
    display: inline-block;
    list-style-type: none;
}

.movie-genre-horizontal-list li {
    display: inline;
    text-transform: capitalize;
}

.movie-genre-horizontal-list li:before {
    content: '\00a0\2022\00a0\00a0';
    color: white;
    color: rbga(0,0,0,0.5);
    align-content: center;
}

.movie-genre-horizontal-list li:first-child:before {
    content: '';
}

.dropdown-info {
    position: absolute; 
    left: 50%;
    bottom: 10%;
}

.add-to-likes {
    position: absolute;
    right: 5%;
    top: 50%;
}

.fa-plus-square:hover {
    color: red;
}

.fa-check-circle:hover {
    color: red;
}

.fa-chevron-down:hover {
    color: red;
}

.fa-play-circle:hover {
    color: red;
}

.movie-container:nth-child(6n+1):hover {
    /* transform: scale(1.8); */
    transition: .5s ease;
    /* -moz-transform: scale(1.8); */
    /* -webkit-transform: scale(1.8); */
    transform: scale(1.8);
    transform-origin: left;
    transition-delay: .2s;
    // position: relative;
}