.movie-info-dropdown {
    display: flex;
    padding: 0;
    background-color: rgba(20, 19, 19, 0.466);
    margin: 0 -4%;

    /* scroll-snap-type-y: proximity;
    overflow-y: scroll; */

    /* scroll-snap-align: start; */
    -moz-animation-name: move;
    -o-animation-name: move;
    animation-name: move;
    
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,11,18,1) 45%, rgba(158,174,177,1) 100%);
}
.movie-dropdown {
    /* margin-bottom: 5%; */
    padding: 4% 4%;
    width: 45%;
    /* display: flex; */
}

.movie-dropdown-details {
    display: flex;
    flex-direction: column;
    /* width: 33%; */
    /* margin: 1% 0; */
}

.movie-dropdown-details h2 {
    margin: 1% 0;
}

.movie-dropdown-options {
    display: flex;
    /* align-self: flex-end; */
    margin: 1% 0;
}

#dropdown-info-play {
    display: flex;
    padding: 1em;
    /* background-color: rgba(51,51,51,.4); */
    background-color: red;
    font-size: 1.1vw;
    border-radius: .2vw;
    padding: .75em 2.5em;
    font-weight: 700;
    cursor: pointer;
    margin-right: 1%;
}

#dropdown-info-play:hover {
    transform: scale(1.02);
    cursor: pointer;
}

#dropdown-info-check {
    display: flex;
    /* padding: 1em; */
    background-color: rgba(51,51,51,.4);
    font-size: 1.1vw;
    border-radius: .2vw;
    padding: .75em 2.5em;
    border: 1px solid rgba(255,255,255,.4);
    font-weight: 700;
    cursor: pointer;

}

#dropdown-info-check:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.movie-dropdown-image {
    /* text-align: right; */
    width: 60%;
}

.movie-dropdown-image img {
    width: 100%;
    height: 100%;
    /* max-width: 1000px; */
}

/* .movie-dropdown-lin-gradient {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,11,18,1) 40%, rgba(158,174,177,1) 100%);
    width: 100%;
    height: 100%;
} */

.fa-times {
    position: absolute;
    right: 0;
    padding: 1%;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
        
    font-size: 1em;
}

.fa-times:hover {
    transform: scale(1.02);
}