.personal-list {
    display: flex;
}

.my-list-show-page {
    margin-top: 50px;
}

.my-list-show-page-movies {
    margin-top: 75px;
}

.my-list-title {
    font-size: 150%;
    font-style: none;
}
// // .movie-categories .my-list-show-page {
//     position: relative;
// }