.landingPage {
    /* height: 100%; */
    background-color: rgba(15, 12, 12, 0.767);
    position: relative;
}

.movies-index-genres {
    width: 100vh;
    height: 200vh;
}

/* .landing-page-movie-distribution {
    position: absolute;
} */

