.session {
    height: 1000px;
    width: 100%;
    background: radial-gradient( rgba(43, 36, 36, 0.5), rgba(22, 13, 13, 0.76)), image_url("movies-background-2.jpg") center center fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
}

.session-form-box {
    height: 60%;
    max-height: 720px;
    min-width: 25%;
    box-sizing: border-box;
    background-color: black;
    background: rgba(3, 2, 2, 0.781);
    margin: auto; 
    border-radius: 5px;
    position: relative;
}

.session-form {
    width: 65%;
    z-index: 2;
    margin: auto;
    position: relative;
    padding: 0 8px;
    top: 65px;
}

.session-header {
    color: white;
    font-size: 30px;
    font-weight: bold;
    box-sizing: border-box;
    margin-bottom: 35px;
}

.session-form > label > input {
    // width: 91.5%;
    margin: 8px 0;
    padding: 1em;
    // display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    border: none;
    background: rgba(61, 56, 56, 0.781);
    box-sizing: border-box;
}


// .session-form-email-input:invalid,
// .session-form-password-input:invalid{
//     border-bottom-color: orange;
// }

.error {
    color: white;
    background-color: rgba(255, 166, 0, 0.582);
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 5px;
    z-index: 2;
    padding: 1em;
    margin: 8px 0;
    bottom: 15px;
}


.session-form-submit {
    background-color: red;
    color: white;
    width: 100%;
    padding: 14px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 50px;
}

.login-or-signin {
    color: gray;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1em;
    margin-left: 68px;
    font-size: 15px;
    bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.login-or-signin-link {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.login-or-signin-link:hover {
    text-decoration: underline;
}

.demo-link {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.demo-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 2560px) {
  .session {
    height: 1440px;
  }
}

@media only screen and (max-width: 1960px) {
  .session {
    height: 1080px;
  }
}

@media only screen and (max-width: 1440px) {
  .session {
    height: 900px;
  }
}

@media only screen and (max-width: 1024px) {
  .session {
    height: 640px;
  }
}

@media screen and (max-width: 600px) {
    input {
        width: 100%;
        margin-top: 0;
    }
}