p {
    font-size: 100%;
}

// .nav-bar-container {
//     padding-left: 4%;
//     padding-right: 4%;
// }

.main-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 4%;
    width: 100%;
    background: transparent;
    // transition: background-color .4s;
    height: 9vh;
    z-index: 5;
    // max-height: px;
}

.scrolled {
    background-color: black;
    transition: 1s;
}

.prim-nav-logo {
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 4%;
}

.primary-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    // -webkit-box-align: center;
    align-items: center;
    // height: 30%;
}

.landing-page-logo {
    display: flex;
    // vertical-align: middle;
    cursor: pointer;
    height: 30%;
}

.primary-nav li {
    display: flex;
    margin-left: 20px;
    height: 100%;
}


.secondary-nav {
    list-style-type: none;
    // margin-left: 150px;
    padding: 0;
    display: flex;
    align-items: center;

    // -webkit-box-align: center;
    // height: 30%;
}

.secondary-nav li {
    margin-right: 20px;
    height: 100%;
}

.profile-dropdown {
    // position: relative;
    // display: inline-block;
    position: relative;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
    // justify-content: space-around;
}

.profile-icon {
    height: auto;
    width: auto;
}

.profile-icon::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dropdown-content {
    list-style-type: none;
    // display: none;
    position: absolute;
    // align-content: left;
    width: 10%;
    min-width: 140px;
    // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid rgb(59, 58, 58);
    border-radius: 4px;
    // padding: 0;
    // margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color:black;
    align-content: center;
    right: 0;
    top: 95px;
    font-size: 82.5%;
    overflow: hidden;
}

.dropdown-content .dropdown-section-1,
.dropdown-content .dropdown-section-2 {
    display: flex;
    align-items: right;
    flex-direction: column;
    // border: 1px solid rgb(59, 58, 58);
    margin: 5%;
}

.dropdown-content .dropdown-section-1 li,
.dropdown-content .dropdown-section-2 li {
    padding: 3%;
    cursor: pointer;
    white-space: nowrap;
}

.dropdown-content div li p:hover {
    cursor: pointer;
    text-decoration: underline;
}


.profile-dropdown .dropdown-content {
    display: none;
}

.profile-dropdown:hover .dropdown-content {
    display: block;
    transition-delay: .5s;
}

.profile-dropdown-divider {
    padding: 0;
    border: 1px solid rgb(59, 58, 58);
}

.sec-nav-dropdown {
    display: flex;
    align-items: center;
    padding-right: 4%;
}

