html, body {
    background: black;
    color: white;
}

.splashPage {
    background: radial-gradient(circle farthest-side, rgba(37, 33, 33, 0.6), rgba(7, 5, 5, 0.829)), image_url("movies-background.jpg") no-repeat center center fixed;
    width: 100%;
    height: 1000px;
    margin: 0;
    padding: 0;
    background-size: cover;
    /* background-repeat: no-repeat; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    z-index: 2;
}

.frontPageHeader {
    position: absolute;
    border: 0;
    background: 0 0;
    width: 100%;
    height: 90px;
}

.frontPageHeader > .fp-logo-link {
    position: absolute;
    display: flex;
    overflow: auto;
    left: 50px;
}

.fp-logo {
    width: 150px;
}

.auth-fp-login {
    background-color: red;
    color:white;
    text-shadow: 1px solid;
    float: right;
    margin-top: 20px;
    margin-right: 40px;
    transition: .5s ease;
    text-decoration: none;
    height: 35px;
    width: 70px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
}

.frontPageCreative {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.fp-p1 {
    display: block;
    text-shadow: 3px 3px 0 black;
    text-align: center;
    font-size: 80px;
    left: 50%;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;

}

.fp-p2 {
    text-shadow: 3px 3px 0 black;
    font-weight: initial;
    font-family: Arial, Helvetica, sans-serif;

}

.auth-fp-signup {
    background-color: red;
    color: white;
    transition: .5s ease;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    text-decoration: none;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;

}

